<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterAuthentication</filter-name>
        <filter-class>filter.FilterAuthentication</filter-class>
    </filter>
    <filter>
        <filter-name>FilterAuthorization</filter-name>
        <filter-class>filter.FilterAuthorization</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterAuthentication</filter-name>
        <url-pattern>/add-cart</url-pattern>
        <url-pattern>/order-delete</url-pattern>
        <url-pattern>/order-update</url-pattern>
        <url-pattern>/cart-update</url-pattern>
        <url-pattern>/cart</url-pattern>
        <url-pattern>/check-out</url-pattern>
        <url-pattern>/logout</url-pattern>
        <url-pattern>/admin/*</url-pattern>
        
    </filter-mapping>
    <filter-mapping>
        <filter-name>FilterAuthorization</filter-name>
        <url-pattern>/admin/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>HomeController</servlet-name>
        <servlet-class>controller.web.HomeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FilterCategory</servlet-name>
        <servlet-class>controller.web.FilterCategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>controller.web.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controller.web.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>controller.web.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.web.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDeleteController</servlet-name>
        <servlet-class>controller.web.OrderDeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderUpdateController</servlet-name>
        <servlet-class>controller.web.OrderUpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckOutController</servlet-name>
        <servlet-class>controller.web.CheckOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>controller.authentication.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeAdminController</servlet-name>
        <servlet-class>controller.admin.HomeAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardController</servlet-name>
        <servlet-class>controller.admin.DashboardController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateQuantityAdminController</servlet-name>
        <servlet-class>controller.admin.UpdateQuantityAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchAdminController</servlet-name>
        <servlet-class>controller.admin.SearchAdminController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProductController</servlet-name>
        <servlet-class>controller.admin.EditProductController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FilterCategory</servlet-name>
        <url-pattern>/filterCategory</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/productDetail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/add-cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/cart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDeleteController</servlet-name>
        <url-pattern>/order-delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderUpdateController</servlet-name>
        <url-pattern>/order-update</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckOutController</servlet-name>
        <url-pattern>/check-out</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeAdminController</servlet-name>
        <url-pattern>/admin/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardController</servlet-name>
        <url-pattern>/admin/dashboard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateQuantityAdminController</servlet-name>
        <url-pattern>/admin/update-quantity-admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchAdminController</servlet-name>
        <url-pattern>/admin/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditProductController</servlet-name>
        <url-pattern>/admin/edit-product</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
