
/* Navigation Bar */

#navigation-bar {
    background-color: #f8f9fa;
    padding: 0 7% 0;
}

/* Shopping Cart Details */
#cart-details {
    padding: 5% 8% 5%;
    text-align: center;
}

#cart-details h1 {
    padding: 0 0 5%;
}


.form-customer {
    margin: 5% 0 0;
}
.customer-info{
    border:1px solid #ccc;
    border-radius: 1rem;
}
.form-message {
    color: red;
}