
/* Navigation Bar */

#navigation-bar {
    background-color: #f8f9fa;
    padding: 0 7% 0;
}



/* Shopping Cart Details */
#cart-details {
    padding: 5% 8% 5%;
    text-align: center;
}

#cart-details h1 {
    padding: 0 0 5%;
}


/* Product item */
#product-item {
    padding: 5% 8% 5%;
    
}

#product-item .product-cart {
    padding-top: 20%;
}

#product-item .discription{
    margin-top: 5%;
}

/* Related items */
#related-items{
    background-color: #f8f9fa;
    padding: 0 7% 0;

}

#related-items h2 {
    padding: 3% 0 3%;
}

#product .list-group {
    padding-top: 17%;
}

.form-customer {
    margin: 5% 0 5%;
}
.customer-info{
    border:1px solid #ccc;
    border-radius: 1rem;
}